# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# Flask instance folder
instance/

# SQLite databases
*.sqlite3
*.db

# Editor directories and files
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage

myenv/